.padding {
  padding-top: 50px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #212529;
}

html, body {
  margin: 0; 
  height: 100%; 
}

a {
  color: #5d5f49;
  text-decoration: none;
}

a:hover {
  color: #ef7f4d;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .font-primary, p {
  font-family: "Athelas"
}


/*--------------------------------------------------------------
Post
--------------------------------------------------------------*/

.post {
  text-align: center;
  margin-bottom: 7px;
  position: relative;
  overflow: hidden;
}

.post .post-info {
  opacity: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}
.post .post-info-content {
  color: #ffffff;
  opacity: 70;
  position: absolute;
  left: 30%;
  right: 30%;
  max-height: 100%;
  align-items: center;
  bottom: 0;
  transition: bottom 0.4s;
}
.post .post-info-content h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}
.post .post-info-content span {
  font-family: 'Athelas';
  display: block;
  font-size: 13px;
  color: #fff;
}
.post .social {
  position: absolute;
  left: -50px;
  top: 0;
  bottom: 0;
  width: 25%;
  max-height: 100%;
  transition: left ease-in-out 0.3s;
  background: rgba(78, 64, 57, 0.6);
  text-align: center;
}
.post .social i {
  transition: color 0.3s;
  display: block;
  color: #fff;
  margin-top: 15px;
  font-size: 18px;
  margin: 0 2px;
}
.post .social i:hover {
  color: #5d5f49;
}

.post:hover .post-info {
  background: linear-gradient(0deg, rgba(17, 22, 43, 0.95) 0%, rgba(17, 22, 43, 0.95) 15%, rgba(255, 255, 255, 0) 100%);
  opacity: 1;
  transition: 0.4s;
}
.post:hover .post-info-content {
  bottom: 30px;
  transition: bottom 0.4s;
}
.post:hover .social {
  left: 0;
  transition: left ease-in-out 0.3s;
}


